modal-template {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  box-shadow: 0 0 8px #9c9c9c;
  text-align: center;
}