# ----------------------------------------------------------------------------
# CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ----------------------------------------------------------------------------

* @mdn/content-team

/.github/workflows/ @mdn/engineering
/.github/CODEOWNERS @mdn/content-team @mdn/engineering
